<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Poetry Generator</title>

    <style type = "text/css">
         .myclass {
            background-color: #FFFFFF;
            font-family: arial;
            margin: 50px;
            padding: 50px;
            border: 2px solid #aaa;
         }
    </style>

</head>
    <body bgcolor="#CCFFCC">
        <form method="post">
            <center>
                <h2 style="font-family:arial;"> Choose the name of the poet <br />
                    and enter the beginning of the poetry:</h2>
                <select name = "name" id = "name">
                    <option value="Shakespeare">Shakespeare</option>
                    <option value="Пушкин">Пушкин</option>
                </select>

                <p style="font-family:arial;"> Beginning:
                    <input style="font-family:arial; width:300px;" type = "text" name = "beginning" /></p>

                <fieldset style="width:400px"> <legend> Size (in symbols) </legend>
                <p><input type="range" min="10" max="5000" name="size"
                          onchange="document.getElementById('rangeValue').innerHTML = this.value;" list="rangeList">
                          <span id="rangeValue">2500</span></p>
                <datalist id="rangeList">
                <option value="10" label="10">
                <option value="500" label="500">
                <option value="1000" label="1000">
                <option value="1500" label="1500">
                <option value="2000" label="2000">
                <option value="2500" label="2500">
                <option value="3000" label="3000">
                <option value="3500" label="3500">
                <option value="4000" label="4000">
                <option value="4500" label="4500">
                <option value="5000" label="5000">
                </datalist>
                </fieldset>

                <p style="font-family:arial;"><input type = "submit" value = "Generate poetry" /></p>
            </center>
        </form>
        <center>
            <p class = "myclass"> {{ poetry_text }} </p>
        </center>
    </body>
</html>
